/* @override 
	http://localhost:8888/stylesheets/application-47865.css
	http://techclt.joshuamauldin.com/stylesheets/application-47865.css
*/

/* * { outline: 1px solid red;} */

/* @group CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


/* HIDDEN */
.hidden { display: none; }

/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* @end */

html {
	height: 100%;
}

body {
	background: #CCCCCC url(../images/noise-bg.jpg);
	margin: 0px;
	padding: 0px;
	font-family: "proxima-nova-1","proxima-nova-2";
	line-height: 140%;
}

a img {
	border: none;
}

a {
	color: #339990;
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all;
	text-shadow: 1px 1px 1px #fff;
}

a:hover, a:focus {
	color: #21655f;
}

h1, h2, h3, h4 {
	padding: 0px;
	margin: 0px;
	text-shadow: 1px 1px 1px #fff;
}

h1{
	font-size: 32px;
	font-weight: bold;
}

blockquote {
	font: 12px/1.0em "proxima-nova-1","proxima-nova-2";
	font-style: italic;
	margin: .75em 30px;
}

#container {
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.clear {
	clear: both;
}

/* Header */

#header {
	background-color: rgba(117,117,117,0.2);
	margin-bottom: 0px;
	-moz-box-shadow: 0px 2px 4px #888888;
	-webkit-box-shadow: 0px 2px 4px #999;
	-box-shadow: 0px 2px 4px #888888;
	*background-color: #ccc;
}

#header-content {
	min-height: 80px;
	width: 880px;
	margin: 0px auto;
	padding: 0px;
}

/* Logo */

#logo {
	padding-top: 15px;
	width: 300px;
}

#logo a {
	color: #e7e7e7;
	text-decoration: none;
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all;
	,-webkit-transform: translate(0,0);
	opacity: .8
}

#logo span {
	display: none;
}

#logo a img:hover {
	-webkit-transform: translate(0,-1px)scale(1.01);
	-moz-transform: translate(0,-2px);
	opacity: 1;
}

/* Right side of Header */

#user_nav_and_navbar {
	float: right;
  display: block;
  position: relative;
  top: -48px;
}

#user_nav {
	display: block;
	float: right;
	font-size: 14px;
	font-weight: normal;
	color: #CCCCCC;
	padding-right: 10px;
	padding-top: 6px;
}

#user_nav a {
	color: #339990;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
	font-weight: bold;
}

/* Navigation Bar */

#navbar {
	clear: both;
	display: block;
	float: right;
	font-family: arial, serif;
	padding: 16px 0 0 0;
	margin: 0px;
}

#navbar ul {
	float: right;
	list-style: none;
	font-weight: bold;
	padding: 0;
	margin: 0px;
}

#navbar ul li {
	list-style: none;
	display: inline;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#navbar ul li a {
	text-transform: uppercase;
	color: #eee;
	font-size: .95em;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px 1px #757575;
	filter: dropshadow(color=#eeeeee, offx=0, offy=1);
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}

#navbar ul li a:hover {
	background-color: #339990;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* CONTENT */


/*.profile_listing { float: left; height: 280px; position: relative; width: 290px;
                   margin-right: 10px; padding: 0px; }
.profile_listing h3 { font-size: 18px; line-height: 19px; font-family: "museo-sans-1","museo-sans-2", "Arial";
                      padding-bottom: 10px; }
.profile_listing h3 a { text-decoration: none; color: #3B7514;}*/

#content {
	width: 890px;
	overflow-x: hidden;
	margin: 0 auto !important;
	padding: 20px;
	/*
	padding-left: 0;
	padding-top: 0px;
	margin: 0 auto;
	*/
}

h1 {
	margin: 20px 0;
}

.profile_detail h1{
	margin-top: 5px;
}

.intro {
	column-count: 2;
	column-gap: 20px;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
}

.profile_listing {
	float: left;
	height: 280px;
	position: relative;
	width: 290px;
	margin-right: 10px;
	padding: 0px;
}

.profile_listing h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 19px;
	padding-bottom: 10px;
	text-align: center;
}

.profile_listing a {
	text-decoration: none;
	color: #339990;
	text-transform: uppercase;
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all;
}

.profile_listing a:hover {
	color: #21655f;
}

.medium_profile_photo {
	display: block;
	/*height: 180px;*/
	width: 287px;
	overflow: hidden;
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all;
	border: 1px solid #c7c7c7;
}

.medium_profile_photo:hover {
	opacity: .8;
}

.profile_listing blockquote {
	background: rgba(34,34,34,0.2);
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	margin: 0;
	width: 280px;
	padding: 10px 5px;
	color: #343434;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#large_profile {
	float: left;
	width: 100%;
	margin: 10px;
	padding: 0px;
}

#large_profile a {
	text-decoration: none;
}

.profile_photo img{
	max-width: 500px;
}

.profile_photo {
	float: left;
	position: relative;
	-webkit-transition: .2s ease all;
}

.profile_photo:before,
.profile_photo:after {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.profile_photo:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.profile_photo:hover {
	-webkit-transform: rotate(-1deg);
}

.profile_information_container {
	background: url(../images/profile-tick.png) no-repeat 0 15px;
	width: 350px;
	float: right;
	/*margin-top: 15px;*/
}

.profile_information {
	background: #fff;
	float: right;
	width: 310px;
	padding: 10px 15px 10px 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
}

.pagination {
	clear: both;
	width: 30%;
	margin: 0 auto;
	border: 1px solid #ababab;
	text-align: center;
	color: #f0f0f0;
	text-shadow: 1px 1px 0px #888;
	background: #ccc;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 10px 5px;
	position: relative;
	display: block;
	margin-bottom: 30px;
}

.pagination:before,
.pagination:after {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.pagination:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.pagination a {
	text-shadow: 1px 1px 1px #f0f0f0;
	margin-right: 5px;
	padding: 5px;
	padding: 5px;
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all;
}

.pagination a:hover {
	background: #e9e9e9;
	color: #777;
	text-shadow: 1px 1px 0 #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	text-decoration: none;
}

.pagination .disabled {
	margin-right: 5px;
	color: #777;
	text-shadow: 1px 1px 0 #fff;
}

.pagination em {
	margin-right: 5px;
	background: #e9e9e9;
	color: #777;
	text-shadow: 1px 1px 0 #fff;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#listings {
	width: 900px;
	float: left;
	margin-top: 40px;
}

/* Profile Page */

#large_profile h3{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* This is 900 and not 890 because it can handle the overflow*/

/* EDIT USER PROFILE */

/* #admin */
input[type="text"], input[type="password"], textarea{
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 6px;
	font-size: 12px;
	width: 180px;
	color: #333;
	border: 1px solid #999;
}

#admin label{
	position: relative;
	top: 4px;
}

#admin #content{
	width: 890px;
	margin: 0 auto;

}

#admin #profile_avatar { margin-left: 108px;}
#admin #bio {width: 286px;}
#admin #check_box, #admin #change_password_link { margin-left: 160px;}

#profile_fields {
	display: block;
	float: left;
	width: 40%;	

}

#profile_fields p{
	margin-bottom: 10px;
}

#bio_and_interview {
	display: block;
	float: right;
	width: 60%;
}

#user_photo{
	margin-top: 8px;
}

textarea#bio, textarea#interview{
	width: 250px;
}
#bio_and_interview label{
	width: 100px !important;
}

/* LABELS and FORM FIELDS */

label.profile_label {
	width: 150px;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

#bio_and_interview label.profile_label {
	width: 70px;
}

/* BUTTONS */

.button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	border: 1px solid #ADADAD;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	padding: 4px 15px;
	color: #333;
	cursor: pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BFBFBF), to(#A1A1A1), color-stop(.4,#B0B0B0));
}

.button:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#BFBFBF), color-stop(.4,#CCCCCC));
}

.green_button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	border: 1px solid #666;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	padding: 4px 15px;
	color: #fff;
	cursor: pointer;
	background: #339990;
	background: -moz-linear-gradient(top, #339990 0%, #339990 50%, #339393 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#339990), color-stop(50%,#339990), color-stop(100%,#339393)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339990', endColorstr='#339393',GradientType=0 );
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all;
}

.green_button:hover {
	opacity: .7;
}

#profile_button {
	margin-left: 160px; /* Accounts for 160px width of Labels */
}

/* ERROR HANDLING */

.field_with_errors {
	background: #C40424;
}

#four_oh_four {
	text-align: center;
	margin: 0 auto;
	height: 300px;
	line-height: 300px;
}

/* Localized */

/* User Management */
#user_management table { }

/* SESSIONS */
#sign_in, #send_invitation, #accept_invitation, .action_box { width: 240px; margin: 100px auto 0px; background: rgba(100,100,100,.2); padding: 30px ; -moz-border-radius: 5px;
                                                              -webkit-border-radius: 5px; border-radius: 5px;}
#sign_in h2, #send_invitation h2, #accept_invitation h2, .action_box h2  { text-align: center; margin: 0px 0px 10px;}
#sign_in input.green_button , #send_invitation input.green_button , #accept_invitation input.green_button, .action_box input.green_button { margin: 12px 0px;}
.action_box input[type="text"], .action_box input[type="password"], .action_box input[type="email"] {width: 227px;}

/* * { outline: 1px solid red;} */
