<%= title "About" %>

<div class="about_us 1">

  <p>TechCLT was created by and for Charlotte's tech and startup community. Many people ask the question "Why aren't there more people like me in Charlotte?" TechCLT wants to answer that by providing a connection point for the silos and individuals that make up our community.</p>
  
  <p>There are many groups in Charlotte that are doing amazing things within the tech/startup community and techCLT wants to point you to who those people are. Look them up. Connect with them on what they're doing. Let's build our future together.</p>
  
  <p><span id="name">- <%= link_to "Andrew Gertig", user_path(1) %></span></p>

</div>

<div class="thanks">
  <h3>Kudos</h3>
  <p>Thanks to <%= link_to "Joshua Mauldin", user_path(3) %> for doing the design work on the site.</p>
  
</div>



<div class="thanks">
  <h3>How do I join?</h3>
  <p>To join the site you will need to receive an invite from someone who is already a member. <!-- If you don't know anyone on the site then shoot me an email or find me on twitter at <%#= link_to "@gertig", "http://twitter.com/gertig" %>. --></p>
  
</div>

