<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Untitled" %></title>
    
  <%= stylesheet_link_tag 'mobile' %>  
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
  <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>    

  <%= csrf_meta_tag %>
</head>
<body>
  <div data-role="page">
    <%= yield %>
  </div> <!-- End 'content' -->
</body>
</html>
